<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Download</title>
  <link rel="stylesheet" href="{{ static_url("style.css") }}">
</head>
<body>
  <form method="post">
    <input type="url" name="url">
    <input type="submit" value="Download">
    {% module xsrf_form_html() %}
  </form>
  <a href="/">refresh</a>
  <h1>Tasks</h1>
  <ul>
    {% for task in tasks %}
      <li id="{{ task.id }}" class="{{ task.status }}">
        {{ task.description }} - {{ task.progress }}%
      </li>
    {% end %}
    </ul>
  <script src="{{ static_url("script.js") }}"></script>
</body>
</html>
